{% extends "base.html" %}
{% block content %}
<div class="form_main">
    <div class="prev"><a href="/students">戻る</a></div>
    <form method="POST" action="/form">
        <div class="field">
            <label for="name">おなまえ<br></label>
            <input class="kokuban" type="text" name="name" placeholder="あなたのお名前を入力してください" required>
        </div>
        <div class="field">
            <label for="school">がっこう<br></label>
            <input class="kokuban" type="text" name="school" placeholder="学校の名前を入力してください" required>
        </div>
        <div class="field">
            <label for="year">がくねん<br></label>
            <input class="kokuban" type="text" name="yaer" placeholder="何年生ですか？" required>
        </div>
        <div class="field">
            <label for="message">そうだんしたいこと<br></label>
            <input class="kokuban" type="text" name="about" placeholder="気になっていることを書いてね" required>
        </div>
        <button type="submit" class="btn_primary">送信</button>
    </form>
</div>
{% endblock content %}