{% extends "base.html" %}
{% block content %}
<div class="onayami_main">
    <div class="onayami_title">
        <img class="title_img" src="{{ url_for('static', filename='/images/yuruneko.jpg') }}">
        タイトルテキスト
    </div>

    <div class="onayami_about">
        テキストA<br>テキストA<br>テキストA
    </div>
    
    <div class="onayami_menu_area">
    <div class="onayami_menu_house">
        <a href="students_form" class="btn-circle-1d">そうだん</a>
    </div>
    <div class="onayami_menu_other">
        <a href="" class="btn-circle-3d">お知らせ</a>
    </div>
    <div class="onayami_menu_survey">
        <a href="select_survey_students" class="btn-circle-4d">アンケート</a>
    </div>
    </div>
    
    <div class="onayami_about">
        テキストB
    </div>
</div>
{% endblock content %}