{% extends "base.html" %}
{% block content %}
<div class="onayami_main">
    <div class="onayami_title">
        おなやみそうだんしつ
    </div>

    <div class="onayami_about">
        先生や両親にはあまり言いたくない事。<br>できれば知られたくない事。<br>なんでも相談してください。
    </div>
    
    <div class="onayami_menu_area">
    <div class="onayami_menu_house">
        <a href="form" class="btn-circle-1d">おうちのそうだん</a>
    </div>
    <div class="onayami_menu_school">
        <a href="" class="btn-circle-2d">がっこうのそうだん</a>
    </div>
    <div class="onayami_menu_other">
        <a href="" class="btn-circle-3d">いろんなそうだん</a>
    </div>
    <div class="onayami_menu_survey">
        <a href="#" class="btn-circle-4d">アンケート</a>
    </div>
    </div>
    
    <div class="onayami_about">
        先生や家族の人に話しにくい事やなやんでいる事。<br>相談してください。
    </div>
</div>
{% endblock content %}