{% extends "base.html" %}
{% block content %}
<div class="teacher_main">
    <div class="teacher_title">
        <img class="title_img" src="{{ url_for('static', filename='/images/yuruneko.jpg') }}">
        タイトルテキスト
    </div>

    <div class="teacher_about">
        テキストA<br>テキストA<br>テキストA
    </div>
    
    <div class="teacher_menu_area">
    <div class="teacher_menu_about">
        <a href="students_form" class="btn-circle-1d">連絡事項</a>
    </div>
    <div class="teacher_menu_other">
        <a href="" class="btn-circle-3d">教材発注</a>
    </div>
    <div class="teacher_menu_survey">
        <a href="select_survey_students" class="btn-circle-4d">アンケート</a>
    </div>
    </div>
    
    <div class="teacher_about">
        テキストB
    </div>
</div>
{% endblock content %}