{% extends "base.html" %}
{% block content %}
<body> 
    <div class="teacher_main">
        <div class="teacher_title">
        タイトル未定
        </div>
        
        <div class="teacher_about">
        先生用項目
        </div>
        
        <div class="teacher_menu_area">
        <div class="teacher_menu_house">
        <a href="" class="btn-circle-1d">アンケート連携</a>
        </div>
        <div class="teacher_menu_school">
        <a href="" class="btn-circle-2d">あぶくまページ</a>
        </div>
        <div class="teacher_menu_other">
        <a href="" class="btn-circle-3d">連絡事項</a>
        </div>
        </div>
        
        <div class="teacher_about">
        物品関連はあぶくまページにて承ります。
        </div>
        
        </div>
{% endblock content %}